* {
    box-sizing: border-box;
    
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.4em;
    /* margin:0;
    padding:0; */
}

#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

#sidebar {
    
    width: 29%;
    float: right;
}

ul {
    list-style: none;
    padding: 0;
}

#main {
    
    width: 69%;
    float: left;
}

.clr {
    clear: both;
}

#footer {
    background-color: #333;
    color: #fff;
    margin-top: 10px;
    padding:20px;
    /* width: 100%;
    position: fixed;
    bottom:0; */
}


.text-center {
    display: block;
    text-align: center;
}

.card {
    border: 1px solid #aaa;
    background: #f4f4e4;
    padding: 20px;
    margin-top: 10px;
}


/* css using web page design */
